<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TODO List</title>
</head>
<body>
    <div id="app">
        <form>
            <h1>TODO list</h1>
            <label for="">New task: </label>
            <input type="text"
            v-model="taskInput" 
            @keydown.enter="addTask($event)">
            <ul v-for="task in tasks">
                <li>{{ task }}</li>
            </ul>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                taskInput: "",
                tasks: [ "Read a book", "Seed a tree" ],
            },
            methods: {
                addTask(event, task) {
                    event.preventDefault();
                }
            },
        })
    </script>
</body>
</html>