<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <title>TODO List</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="TodoList.js"></script>
</head>
<body>
    <div id="app">
        <div v-for="hero in team" style="border:1px solid black">
            <form>
                <h1>Insert title here</h1>
                <label for="">New task: </label>
                <input type="text"
                v-model="taskInput" 
                @keydown.enter="addTask($event)">
                <ul v-for="task in tasks">
                    <li>{{ task }}</li>
                </ul>
            </form>
        </div> 
    </div>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                taskInput: "",
                tasks: [ "Read a book", "Seed a tree" ],
            },
            methods: {
                addTask(event) {
                    event.preventDefault();
                    this.tasks.push(this.taskInput)
                    this.taskInput = ''
                }
            }
        })
    </script>
</body>
</html>